.highlight {
    color: #337ab7;
}

.align-label {
    padding-top: 7px;
    text-align: right;
}

.register-form {
    min-width: 500px;
}

textarea {
   resize: none;
   width: 100%;
}

.btn-post {
   float: right;
}

.date-align {
    float: right;
}

.avatar-view {
    display: block;
    border: 3px solid #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.15);
    cursor: pointer;
    overflow: hidden;
}
