@model IEnumerable<PastebookEntityLibrary.USER>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Full Name
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.FIRST_NAME @item.LAST_NAME
        </td>
    </tr>
}

</table>
