@model IEnumerable<PastebookEntityLibrary.FRIEND>

@foreach (var item in Model)
{
    <p>
        @item.USER1.FIRST_NAME @item.USER1.LAST_NAME <button class="btnConfirm" value="@item.ID">Accept</button><button class="btnReject" value="@item.ID">Reject</button>
    </p>
}
