<div>
    <textarea id="content"></textarea>
    <span id="contentMessage"></span>
    <button type="button" id="btnPost">Post</button>
</div>
<div id="newsFeedPartial">
    @{Html.RenderAction("NewsFeedPartial", "Pastebook");}
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/newsfeed.js"></script>

}
