@model IEnumerable<PastebookEntityLibrary.USER>

@{
    string imgSrc = null;
}

@foreach (var item in Model)
{
    if (item.PROFILE_PIC != null)
    {
        var base64 = Convert.ToBase64String(item.PROFILE_PIC);
        imgSrc = String.Format("data:image/gif;base64,{0}", base64);
    }
    else
    {
        imgSrc = "/Content/Images/default.jpg";
    }
    <div class="row">
        <div class="col-md-12 profile_left">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Profile Information</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="profile-img">
                        <div class="col-md-3">
                            <img class="img-responsive avatar-view" src="@imgSrc" alt="Profile Picture" />
                        </div>
                        <div class="col-md-9">
                            <span>@item.FIRST_NAME @item.LAST_NAME</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

