<input id="hiddenUsername" type="hidden" value="@Request.QueryString["username"]" />
@{
    var sessionUsername = Session["username"].ToString();
    if (sessionUsername == Request.QueryString["username"])
    {
        <div>
            <textarea id="txtAreaAboutMe"></textarea>
            <span id="aboutMeMessage"></span>
            <button type="button" id="btnAboutMe">Update</button>
        </div>
    }
}
<button type="button" id="btnAddFriend">Add Friend</button>
<div id="credentialPartial">
    @{ Html.RenderAction("Credential", "Pastebook");}
</div>

<div>
    <textarea id="txtAreacontent"></textarea>
    <span id="contentMessage"></span>
    <button type="button" id="btnPost">Post</button>
</div>

<div id="timelinePartial">
    @{ Html.RenderAction("Timeline", "Pastebook");}
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('#btnPost').click(function () {
                var varContent = $.trim($('#txtAreacontent').val());
                var data = {
                    content: varContent,
                    username: $('#hiddenUsername').val()
                };
                if (varContent.length != 0) {
                    $.ajax({
                        url: '/Pastebook/SavePost',
                        data: data,
                        type: 'GET',
                        success: function (data) {
                            CheckResultForPost(data);
                        },
                        error: function () {
                            alert('Something went wrong')
                        }

                    });
                }
                else {
                    $('#contentMessage').text('You cannot post an empty content.');
                }
            });

            $('#btnAboutMe').click(function () {
                var varAboutMe = $.trim($('#txtAreaAboutMe').val());
                var data = {
                    aboutMe: varAboutMe,
                    username: $('#hiddenUsername').val()
                };
                if (varAboutMe.length != 0) {
                    $.ajax({
                        url: '/Pastebook/UpdateAboutMe',
                        data: data,
                        type: 'GET',
                        success: function (data) {
                            CheckResultForAboutMe(data);
                        },
                        error: function () {
                            alert('Something went wrong')
                        }

                    });
                }
                else {
                    $('#aboutMeMessage').text('You cannot update about me with an empty content.');
                }
            });

            function CheckResultForAboutMe(data) {
                var hiddenUsername = $('#hiddenUsername').val()
                if (data.Result == 1) {
                    $('#credentialPartial').load('/Pastebook/Credential?username=' + hiddenUsername);
                    $('#txtAreaAboutMe').val('');
                    $('#aboutMeMessage').text('');
                }
                else {
                    alert("Fail Inserting");
                }
            };

            function CheckResultForPost(data) {
                var hiddenUsername = $('#hiddenUsername').val()
                if (data.Result == 1) {
                    $('#timelinePartial').load('/Pastebook/Timeline?username=' + hiddenUsername);
                    $('#txtAreacontent').val('');
                    $('#contentMessage').text('');
                }
                else {
                    alert("Fail Inserting");
                }
            };
        });
    </script>
}

